html {
    background-image: linear-gradient(rgba(41, 49, 51, 0.3), rgba(41, 49, 51, 0.3)), url(../img/bg-wqhd.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

hr {
    margin-top: -4em;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

section {
    width: 50em;
    background-color: rgba(41, 49, 51, 0.8);
    padding: 20px;
    border-radius: 12px;
}

.section-header {
    width: 50em;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.submit-task {
    width: 50em;
    display: flex;
    flex-direction: column;
}

.input-title {
    width: 39em;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.textarea {
    width: 39em;
    height: 3.1em;
    margin-top: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    color: white;
}

#submit-task-btn {
    width: 21em;
    height: 6em;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    color: white;
    position: relative;
    left: 39em;
    bottom: 6em;
}

#submit-task-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#section-body {
    width: 50em;
    height: 33em;
}

.to-do-headline {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.to-do-headline > h3 {
    margin-right: 26.5em;
}

.to-do {
    width: 31em;
    margin-top: 0.7em;
    background-color: aqua;
    border-radius: 12px;
    padding-bottom: 0.2em;
}

.to-do-alignment {
    display: flex;
    align-items: start baseline;
    flex-direction: row;
}

.checked-square {
    margin-top: 1.2em;
    margin-left: 1em;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    background-image: url(../icons/check2-square.svg);
    background-size: cover;
    border: none;
}

.empty-square {
    margin-top: 1.2em;
    margin-left: 1em;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
    background-image: url(../icons/square.svg);
    background-size: cover;
    border: none;
}

.empty-square svg {
    position: relative;
    right: 0.5em;
    bottom: 0.2em;
}

.to-do-title {
    margin-top: 1em;
    margin-left: 1em;
}

#delete-task {
    position: fixed;
    margin-left: 34.9em;
    margin-top: 1.1em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-image: url(../icons/x-lg.svg);
}

#delete-task svg {
    position: relative;
    right: 0.7em;
    bottom: 0.45em;
    width: 1.4em;
    height: 1.4em;
}

.to-do-text {
    margin-left: 1em;
    margin-right: 2em;
    margin-top: -0.8em;
    margin-bottom: 1em;
}

.deadline {
    margin-bottom: 0.8em;
    margin-left: 1em;
}

#edit-task {
    position: absolute;
    margin-left: 34.9em;
    margin-top: -1.8em;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
}

#edit-task svg {
    position: relative;
    right: 0.5em;
    bottom: 0.2em;
}

.done {
    width: 17em;
}
